{% extends "common/base.j2" %}
{% block body_content %}
<title>{% trans %}Taler Systems SA - Company{% endtrans %}</title>
<main id="maincontent">
<div class="banner_sec about_ban">
	<div class="banner_box">
		<img src="{{ url_static('images/aboutbanner1.jpg') }}" alt="" class="">
		<div class="banner_innr">
			<div class="container">
				<div class="row">
					<div class="col-sm-7">
						<div class="ban_left">
							<h3>{% trans %}Our <span>organization{% endtrans %}</span></h3>
							<h1>{% trans %}Taler Systems{% endtrans %}</h1>
							<p>{% trans %}Dedicated to Free Software, leading one of the high priority projects<br> at the core of the Free/Libre and Open Source Software (FLOSS)<br> community.{% endtrans %}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="digital_sec assetsSec about_top">
	<div class="container">
		<div class="top_heading">
			<h2>{% trans %}About Us{% endtrans %}</h2>
<p><span>{% trans %}Taler Systems SA has been developing GNU Taler since 2016. Taler pursues the goal of digitalizing cash and<br> replicating the advantages of cash, but enhancing them with functionalities like built-in technical security,<br> payment safety, data minimization and privacy by design. Furthermore, Taler enables new online business<br> models, especially those based on micropayments. Taler makes payments safe and easy, fully in accordance<br> with regulatory requirements, AML, KYC, and CFT regulations.{% endtrans %}</span></p>
<p>{% trans %}Taler Systems SA was founded in 2016 and is headquartered in Luxembourg.{% endtrans %}</p>
		</div>
		<div class="digital_innr">
			<div class="desk d-md-block d-sm-none d-none">
				<div class="row">
					<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
						<div class="digital_box">
							<img src="{{ url_static('images/smlicon1.png') }}" alt="">
							<b>{% trans %}Founders{% endtrans %}</b>
							<p>{% trans %}Christian Grothoff and Leon Schumacher{% endtrans %}</p>
						</div>
					</div>
					<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
						<div class="digital_box">
							<img src="{{ url_static('images/smlicon2.png') }}" alt="">
							<b>{% trans %}Founding Proposals{% endtrans %}</b>
							<p>{% trans %}One-click private digital cash payments and tokenization{% endtrans %}</p>
						</div>
					</div>
					<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
						<div class="digital_box">
							<img src="{{ url_static('images/smlicon3.png') }}" alt="">
							<b>{% trans %}Business Location{% endtrans %}</b>
							<p>7, Rue de Mondorf, L-5421 Erpeldange, Luxembourg</p>
						</div>
					</div>
					<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
						<div class="digital_box">
							<img src="{{ url_static('images/smlicon4.png') }}" alt="">
							<b>{% trans %}Legal Form{% endtrans %}</b>
							<p>{% trans %}Société Anonyme{% endtrans %}</p>
						</div>
					</div>
					<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
						<div class="digital_box">
							<img src="{{ url_static('images/smlicon5.png') }}" alt="">
							<b>{% trans %}Future Prospects{% endtrans %}</b>
							<p>{% trans %}Revolutionize payments with privacy{% endtrans %}</p>
						</div>
					</div>
					<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
						<div class="digital_box">
							<img src="{{ url_static('images/smlicon6.png') }}" alt="">
							<b>{% trans %}Core Business{% endtrans %}</b>
							<p>{% trans %}Financial services<br> and related{% endtrans %}</p>
						</div>
					</div>
				</div>
			</div>

<!-- Carousel with company highlights >
			<div class="desk d-md-none d-sm-block d-block">
				<div class="momelecte owl-carousel owl-loaded owl-drag">
				<div class="owl-stage-outer owl-height" style="height: 0px;"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
						<div class="digital_box">
							<img src="{{ url_static('images/smlicon1.png') }}" alt="">
							<b>{% trans %}Founders{% endtrans %}</b>
							<p>{% trans %}Christian Grothoff and Leon Schumacher{% endtrans %}</p>
						</div>
					</div></div><div class="owl-item"><div class="item">
						<div class="digital_box">
							<img src="{{ url_static('images/smlicon2.png') }}" alt="">
							<b>{% trans %}Founding Proposals{% endtrans %}</b>
							<p>{% trans %}One-click private digital cash payments and tokenization{% endtrans %}</p>
						</div>
					</div></div><div class="owl-item"><div class="item">
						<div class="digital_box">
							<img src="{{ url_static('images/smlicon3.png') }}" alt="">
							<b>{% trans %}Business Location{% endtrans %}</b>
							<p>7, Rue de Mondorf, L-5421 Erpeldange, Luxembourg</p>
						</div>
					</div></div><div class="owl-item"><div class="item">
						<div class="digital_box">
							<img src="{{ url_static('images/smlicon4.png') }}" alt="">
							<b>{% trans %}Legal Form{% endtrans %}</b>
							<p>{% trans %}Société Anonyme{% endtrans %}</p>
						</div>
					</div></div><div class="owl-item"><div class="item">
						<div class="digital_box">
							<img src="{{ url_static('images/smlicon5.png') }}" alt="">
							<b>{% trans %}Future Prospects{% endtrans %}</b>
							<p>{% trans %}Revolutionize payments with privacy{% endtrans %}</p>
						</div>
					</div></div><div class="owl-item"><div class="item">
						<div class="digital_box">
							<img src="{{ url_static('images/smlicon6.png') }}" alt="">
							<b>{% trans %}Core Business{% endtrans %}</b>
							<p>{% trans %}Financial services<br> and related{% endtrans %}</p>
						</div>
					</div></div></div></div><div class="owl-nav"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div>
			</div>
< Carousel end -->

		</div>
	</div>
</section>

<section class="culture_sec">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="mid_text">
					<h2>{% trans %}Culture{% endtrans %}</h2>
					<p><b>{% trans %}Taler Systems SA</b> is dedicated to Free Software and is one of the high priority projects at the core of the <b>Free/Libre and Open Source Software (FLOSS)</b>
 community. Thus, the company gains the interest of ambitious programmers in the field and gathers several GNU maintainers as team members. As a consequence, the company combines high-ranking competencies, programming skills, academic expertise and proven business knowledge to debut with a disruptive state-of-the-art solution that revolutionizes the payments industry.{% endtrans %}</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="mid_img">
					<img src="{{ url_static('images/culturepic1.jpg') }}" alt="">
				</div>
			</div>
		</div>

	</div>
</section>

<!-- Calender row >
            <div class="col-sm-12 timethamrow">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="timetham">
							<em><i class="fa fa-calendar-o" aria-hidden="true"></i> 15 March 2021</em>
							<h4>How to Put Out Democracy’s Dumpster Fire</h4>
							<p>The Atlantic 0.05 USD</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="timetham">
							<em><i class="fa fa-calendar-o" aria-hidden="true"></i> 15 March 2021</em>
							<h4>UK businesses caught buying five-star Google reviews</h4>
							<p>BBC 0.10 GBP</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="timetham">
							<em><i class="fa fa-calendar-o" aria-hidden="true"></i> 24 February 2021</em>
							<h4>Vorschlag aus der Schweiz: Digitales Zentralbankgeld mit GNU-Taler</h4>
							<p>Heise.de 0.05 EUR</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="timetham">
							<em><i class="fa fa-calendar-o" aria-hidden="true"></i> 14 September 2020</em>
							<h4>Projekt GNU Taler: Das quelloffene Bargeld</h4>
							<p>Heise.de 0.05 EUR</p>
						</div>
					</div>
				</div>
			</div>
< Calender row end -->

<section class="team_sec">
	<div class="container">
		<div class="innadvvaluebox">
			<h2>{% trans %}Meet The Team{% endtrans %}</h2>
			<p>{% trans %}Taler Systems SA has seven core team members:{% endtrans %}</p>
		</div>
		<div class="team_innr">
			<div class="row">
				<div class="col-sm-6">
					<div class="team_box">
						<img src="{{ url_static('images/teampic2.jpg') }}" alt="">
						<h4>Leon Schumacher</h4>
						<h5>{% trans %}Chairman Of The Board{% endtrans %}</h5>
						<p>{% trans %}Leon is a leader in the international CIO community who possesses a deep knowledge of the needs and functioning of Fortune 100 companies. Prior to co-founding Taler, Leon served as group CIO at two global companies, Mittal Steel and Novartis. Leon earned his master’s in electrical engineering from ETH Zürich and his master’s in management from HEC Paris. He also has a post-MBA certificate from the Kellogg School of Management at Northwestern University.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="team_box">
						<img src="{{ url_static('images/teampic1.jpg') }}" alt="">
						<h4>Christian Grothoff</h4>
						<h5>{% trans %}CEO{% endtrans %}</h5>
						<p>{% trans %}Christian is professor for computer science at the University of Applied Sciences in Bern (Fachhochschule Bern) focusing on network security and privacy. He is an Ashoka fellow, serves on the GNU advisory board and maintains four GNU software packages. He earned his PhD in computer science from UCLA, an M.S. in computer science from Purdue University, and a Diploma in Mathematics from the University of Wuppertal.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="team_box">
						<img src="{{ url_static('images/teampic6.png') }}" alt="">
						<h4>Berna Alp</h4>
						<h5>{% trans %}Head of Finance{% endtrans %}</h5>
						<p>{% trans %}Berna has been volunteering her time in several organizations fighting for an open and free Internet with built-in privacy as well as open and free software. She is the current chair of Thunderbird Project and serves on the Boards of the ISOC Switzerland Chapter and the Pretty Easy Privacy Foundation. She is an economist by trade, has been involved in IT projects for more than 25 years. She worked as SAP FI/CO/JVA consultant at Andersen Consulting in New York, in a trading company and for projects of the World Bank.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="team_box">
						<img src="{{ url_static('images/teampic7.png') }}" alt="">
						<h4>Rahel Surbeck</h4>
						<h5>{% trans %}Head of Human Resources{% endtrans %}</h5>
						<p>{% trans %}Rahel gathers long-term knowledge in the fields of staff coaching, training and HR development. Our employees and team members are also benefiting from her organisational talent at Taler's frequent work retreats where she cares for us and our guests from all over the world. Rahel excels with brilliant psychological capabilities and manages our HR resources from eight nations, has responsibility for gender equality, conflict management, diversity, and internationalisation of our growing team, urging to employ more female members than is proportionate to the IT industry nowadays.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="team_box">
						<img src="{{ url_static('images/teampic4.jpg') }}" alt="">
						<h4>Florian Dold</h4>
						<h5>{% trans %}CTO{% endtrans %}</h5>
						<p>{% trans %}Florian is a passionate programmer and researcher. Prior to co-founding Taler, he worked on GNUnet, a decentralized and privacy-preserving peer-to-peer framework. Florian earned his Master of Science from the Technical University of Munich. He obtained his PhD at Inria / Rennes 1 in this subject.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="team_box">
						<img src="{{ url_static('images/teampic5.jpg') }}" alt="">
						<h4>Marie Walrafen</h4>
						<h5>{% trans %}Head of Marketing{% endtrans %}</h5>
						<p>{% trans %}Marie has been involved in video production, served as a parliamentary attaché and coordinated several successful international campaigns for Internet freedom and privacy. Together with her intense knowledge of networking, Marie serves as our Head of Marketing to propagate Taler's media and sales strategies to rapidly scale and make us known to businesses and publishers on an international level.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="team_box">
						<img src="{{ url_static('images/teampic3.jpg') }}" alt="">
						<h4>Michael Widmer</h4>
						<h5>{% trans %}Legal &amp; Regulatory Affairs{% endtrans %}</h5>
						<p>{% trans %}Michael is an entrepreneur and he brings to Taler his extensive banking and financial market experience. In his 20 years of experience in the international financial sector, he worked as a commercial lawyer, as managing director of the Eurex stock exchange and as Co-CEO of the Gutenberg Group. He received a Ph.D. in Law from the University of Zurich and an executive MBA from University of Rochester. Michael is also admitted to the Bar Association in Zurich.{% endtrans %}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="affiliates_sec">
	<div class="container">
		<h5>{% trans %}Affiliates{% endtrans %}</h5>
		<ul>
			<li><a href="https://fsf.org" target="_blank" rel="noopener noreferrer"><img src="{{ url_static('images/speclogo1.png') }}" alt="Free Software Foundation"></a></li>
			<li><img src="{{ url_static('images/speclogo2.png') }}" alt=""></li>
		</ul>
	</div>
</section>

<section class="join_sec">
	<div class="container">
		<div class="innadvvaluebox">
			<h2>{% trans %}Join Our Team{% endtrans %}</h2>
			<p>{% trans %}Taler Systems SA is always looking for skilled programmers.{% endtrans %}</p>
			<p><b>{% trans %}Taler's code is based on Free Software and ranks as a high priority project of the Free Software Foundation (<a href="https://fsf.org" target="_blank" rel="noopener noreferrer">fsf.org</a>). You will be co-working with us for a fascinating project in a compelling environment and collaborate with hackers thriving forward the freedom of the internet.{% endtrans %}<b></p>
		</div>
		<div class="avablposipnl">
			<div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-7">
						<h4>PhD position at FU Berlin for embedded GNU Taler wallet</h4>
						<p>We are seeking a <b>PhD student</b> to create a Taler wallet that can run on an <b>embedded system</b> (not smartphone or browser).</p><br>
                            <ul class="checklist"><h5>Key points:</h5>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick.png">Your PhD advisor would be <a href="https://www.mi.fu-berlin.de/en/inf/groups/ilab/members/waehlisch.html" target="_blank" rel="noopener noreferrer">Prof. Matthias W&auml;hlisch</a>, co-founder of <a href="https://www.riot-os.org/" target="_blank" rel="noopener noreferrer">RiotOS</a>. Christian Grothoff (GNU Taler maintainer) is officially a co-advisor on the project.
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick.png">The position is in Berlin, you will be expected to relocate there; the initial contract will be for 3 years, however, a typical PhD in Germany is expected to take 5 years (so plan for ~5 years). The earliest possible start date would be November 1, 2022.
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick.png">Your salary will be 100% <a href="https://oeffentlicher-dienst.info/tv-l/allg/" target="_blank" rel="noopener noreferrer">TVL-13</a>; the exact amount depends on years of experience and family status (and <a href="https://oeffentlicher-dienst.info/c/t/rechner/tv-l/allg?id=tv-l&amp;g=E_13&amp;s=1&amp;zv=VBL&amp;z=100&amp;zulage=&amp;stkl=4&amp;r=&amp;zkf=&amp;kk=15.5%25" target="_blank" rel="noopener noreferrer">includes contributions</a> to health insurance and retirement). See <a href="https://www.jobs-beim-staat.de/tarif/tv-l_e13" target="_blank" rel="noopener noreferrer">Summary</a> for a "simple" calculation by experience.
                                </li>
                            </ul>
                            <br>
                            <ul class="checklist"><h5>Requirements:</h5>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick2.png">You will write Free Software only, collaborate with the GNU Taler core team and help the GNU project.
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick2.png">The working language of the group is English.
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick2.png">You need to have a Master's degree in computer science or a related field (mathematics, embedded systems). Our ideal candidate would have a background in embedded/microcontroller programming, and networking (TCP/IP).
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick2.png">The main project goal is to create a Taler wallet that can run on an "embedded" system (so not a smartphone or a browser) by eliminating the current wallet's dependency on NodeJS/JavaScript and allowing it to run on platforms like <a href="https://www.mi.fu-berlin.de/en/inf/groups/ilab/members/waehlisch.html" target="_blank" rel="noopener noreferrer">RiotOS</a>. This should then (1) improve the security of the wallet (by reducing complexity), (2) allow citizens to use Taler without a smartphone (by buying some ideally much cheaper hardware), and (3) possibly set the stage to enable Taler to be used <a href="https://docs.taler.net/design-documents/030-offline-payments.html" target="_blank" rel="noopener noreferrer">offline</a>.
                                </li>
                            </ul>
                                <p>If you are interested in this position, please contact us at <a href="mailto:jobs@taler.net">jobs@taler.net</a> or give us a call.</p>
					</div>
					<div class="col-md-2">
						<ul>
							<li><i><img src="{{ url_static('images/icn1.png') }}" alt=""></i>{% trans %}Full Time{% endtrans %}</li>
							<li><i><img src="{{ url_static('images/icn2.png') }}" alt=""></i>{% trans %}Berlin, Germany{% endtrans %}</li>
						</ul>
					</div>
					<div class="col-md-3">
						<a href="{{ url_localized('company.html#contact') }}" class="vwdtls">{% trans %}Contact{% endtrans %}</a>
					</div>
				</div>
			</div>
			<!-- <div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-7">
						<h4>iOS App Developer</h4>
						<p>We are looking to hire an <b>iOS app developer</b> as freelancer to build and test an iOS application for Taler. Your primary focus will be the migration of our existing Taler wallet app for Android (written in Kotlin). The iOS app to be developed will be based on Swift and should run on the latest Apple mobile devices. Ideally, you possess a strong working knowledge of iOS Frameworks, you know how to deal with the adaption of native designs for Apple users, and you should be proficient in using native C libraries within iOS.</p><br>
                            <ul class="checklist"><h5>Your responsibilities:</h5>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick2.png">Designing and building a mobile application for Apple’s iOS platform.
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick2.png">Collaborating with the design team to define app features.
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick2.png">Ensuring quality and performance of the application to specifications.
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick2.png">Identifying potential problems and resolving performance bottlenecks.
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick2.png">Fixing application bugs before the final release.
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick2.png">Publishing the Taler application on the App Store.
                                </li>
                            </ul>
                            <br>
                            <ul class="checklist"><h5>Requirements:</h5>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick.png">Experience with Swift, iOS Frameworks such as Core Data and Core Animation.
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick.png">At least basic knowledge of UX design and its implementation.
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick.png">Knowledge of Apple’s design principles and application interface guidelines.
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick.png">Proficiency in using code versioning tools (Git).
                                </li>
                                <li>
                                <img class="checkmark" height=12 width=12 alt="checkmark" src="../images/tick.png">Experience with continuous integration and bug trackers (Mantis).
                                </li>
                            </ul>
                                <p>In case of your interest in this job please send us an email to ceo@taler.net or give us a call.</p>
					</div>
					<div class="col-md-2">
						<ul>
							<li><i><img src="{{ url_static('images/icn1.png') }}" alt=""></i>{% trans %}Full Time{% endtrans %}</li>
							<li><i><img src="{{ url_static('images/icn2.png') }}" alt=""></i>{% trans %}Anywhere{% endtrans %}</li>
						</ul>
					</div>
					<div class="col-md-3">
						<a href="{{ url_localized('company.html#contact') }}" class="vwdtls">{% trans %}Contact{% endtrans %}</a>
					</div>
				</div>
			</div> -->
			<div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-7">
						<h4>Backend Developer / Junior Backend Developer</h4>
						<p>In case of your interest in this job please send us an email to ceo@taler.net.</p>
					</div>
					<div class="col-md-2">
						<ul>
							<li><i><img src="{{ url_static('images/icn1.png') }}" alt=""></i>{% trans %}Full Time / Half Time{% endtrans %}</li>
							<li><i><img src="{{ url_static('images/icn2.png') }}" alt=""></i>{% trans %}Anywhere{% endtrans %}</li>
						</ul>
					</div>
					<div class="col-md-3">
						<a href="{{ url_localized('company.html#contact') }}" class="vwdtls">{% trans %}Contact{% endtrans %}</a>
					</div>
				</div>
			</div>
			<div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-7">
						<h4>Backend Developer / Junior Backend Developer</h4>
						<p>In case of your interest in this job please send us an email to ceo@taler.net.</p>
					</div>
					<div class="col-md-2">
						<ul>
							<li><i><img src="{{ url_static('images/icn1.png') }}" alt=""></i>{% trans %}Full Time / Half Time{% endtrans %}</li>
							<li><i><img src="{{ url_static('images/icn2.png') }}" alt=""></i>{% trans %}Luxembourg{% endtrans %}</li>
						</ul>
					</div>
					<div class="col-md-3">
						<a href="{{ url_localized('company.html#contact') }}" class="vwdtls">{% trans %}Contact{% endtrans %}</a>
					</div>
				</div>
			</div>
			<!-- <div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-7">
						<h4>Junior Backend Developer</h4>
						<p>In case of your interest in this job please send us an email to ceo@taler.net.</p>
					</div>
					<div class="col-md-2">
						<ul>
							<li><i><img src="{{ url_static('images/icn1.png') }}" alt=""></i>Full Time</li>
							<li><i><img src="{{ url_static('images/icn2.png') }}" alt=""></i>Luxembourg</li>
						</ul>
					</div>
					<div class="col-md-3">
						<a href="{{ url_localized('company.html#contact') }}" class="vwdtls">Contact</a>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</section>

<section class="cotact_today">
	<div class="container">
		<div class="innadvvaluebox">
			<h2 id="contact">{% trans %}Contact Us Today{% endtrans %}</h2>
			<p><b>{% trans %}You can get into touch with Taler Systems SA via mail or email and on the phone:{% endtrans %}</p></b>
		</div>
		<div class="cotact_todayInnr">
			<div class="row">
				<div class="col-md-4">
					<div class="cotact_todayBox">
						<img src="{{ url_static('images/contacticon1.png') }}" alt="">
						<h4>{% trans %}Reach Us{% endtrans %}</h4>
						<p>{% trans %}Send a letter to{% endtrans %} <br>7, Rue de Mondorf, L-5421 Erpeldange</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="cotact_todayBox">
						<img src="{{ url_static('images/contacticon2.png') }}" alt="">
						<h4>{% trans %}Email Us</h4>
						<p>Get into touch with us via <br>one of the email contacts below{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="cotact_todayBox">
						<img src="{{ url_static('images/contacticon3.png') }}" alt="">
						<h4>{% trans %}Call Us{% endtrans %}</h4>
						<p>{% trans %}Have a question?{% endtrans %} <br><a class="phone" href="tel:0041442801200">Tel: +41 44 280 1200</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock body_content %}
