{% extends "common/base.j2" %}
{% block body_content %}
<title>Taler Systems SA - CBDC</title>
<main id="maincontent">
<div class="banner_sec newbanner">
	<div class="banner_box">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<div class="ban_left">
                        <h3>{% trans %}Welcome to <span>Taler's solution for CBDC{% endtrans %}</span></h3>
                            <h1>{% trans %}Taler as a Central Bank Digital Currency{% endtrans %}</h1>
                            <p>{% trans %}Our advanced infrastructure can be used to create future-proof Central Bank Digital Currencies that can out-compete globally – and allow central banks to stay sovereign.{% endtrans %}</p>
                            <p>{% trans %}Curious to find out more? The Swiss National Bank (SNB) has written about the benefits of our technology in an exclusive whitepaper:{% endtrans %}</p>
                                <a href="https://www.snb.ch/n/mmr/reference/working_paper_2021_03/source/working_paper_2021_03.n.pdf" class="demo_btn">{% trans %}SNB Whitepaper{% endtrans %}</a>
						<ul>
							<li><img src="{{ url_static('images/banicon-tux.png') }}" alt="Linux"></li>
							<li><img src="{{ url_static('images/banicon-droid.png') }}" alt="Android"></li>
							<li><img src="{{ url_static('images/banicon-mac.png') }}" alt="MacOS"></li>
							<li><img src="{{ url_static('images/banicon-ios.png') }}" alt="iOS"></li>
							<li><img src="{{ url_static('images/banicon-win.png') }}" alt="Windows"></li>
							<li><img src="{{ url_static('images/banicon-ff.png') }}" alt="Firefox"></li>
							<li><img src="{{ url_static('images/banicon-chr.png') }}" alt="Chrome"></li>
							<li><img src="{{ url_static('images/banicon-br.png') }}" alt="Brave"></li>
							<li><img src="{{ url_static('images/banicon-edg.png') }}" alt="Edge"></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="ban_rt">
						<img src="{{ url_static('images/coin.png') }}" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="nedigital_sec">
	<div class="container">
		<div class="top_heading">
			<h2>{% trans %}Digital Cash Can Do More{% endtrans %}</h2>
<p>{% trans %}Digital Cash with Taler is much more than yet another digital payment system. Taler will transform economies:<br/>{% endtrans %}</p>
		</div>
		<div class="nedigital_innr">
			<div class="desk d-md-block d-sm-none d-none">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="nedigital_box">
							<img src="{{ url_static('images/topicon4.png') }}" alt="">
							<b>{% trans %}Income transparency with defined contracts{% endtrans %}</b>
							<p>{% trans %}Simplified tax filing and less expensive tax audits{% endtrans %}</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="nedigital_box">
							<img src="{{ url_static('images/topicon5.png') }}" alt="">
							<b>{% trans %}Economic one-click micropayments{% endtrans %}</b>
							<p>{% trans %}Enabling new business models, especially for digital publishing{% endtrans %}</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="nedigital_box">
							<img src="{{ url_static('images/topicon6.png') }}" alt="">
							<b>{% trans %}Free Software reference implementation{% endtrans %}</b>
							<p>{% trans %}Respects individual and national sovereignty{% endtrans %}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="desk d-md-none d-sm-block d-block">
				<div class="momelecte owl-carousel">
					<div class="item">
						<div class="nedigital_box">
							<img src="{{ url_static('images/icon9.png') }}" alt="">
							<b>{% trans %}Parent-controlled privacy-respecting age verification{% endtrans %}</b>
							<p>{% trans %}Providing inexpensive and convenient youth protection{% endtrans %}</p>
						</div>
					</div>
					<div class="item">
						<div class="nedigital_box">
							<img src="{{ url_static('images/icon10.png') }}" alt="">
							<b>{% trans %}Multi-currency capable{% endtrans %}</b>
							<p>{% trans %}Useful for regional currencies for diverse economic zones{% endtrans %}</p>
						</div>
					</div>
					<div class="item">
						<div class="nedigital_box">
							<img src="{{ url_static('images/icon11.png') }}" alt="">
							<b>{% trans %}Citizens can pay online without having a bank account{% endtrans %}</b>
							<p>{% trans %}Enables digital remittances from social services to unbanked populations{% endtrans %}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="midnew_sec">
	<div class="container">
		<div class="row midnewrowa">
			<div class="col-sm-6">
				<div class="midnew_text">
					<h2>{% trans %}Proven Technology{% endtrans %}</h2>
					<p>{% trans %}Taler is built on top of established, time-tested technologies with a conservative design:{% endtrans %}</p>
					<ul>
						<li>{% trans %}Common SQL database with Client-Server (HTTP-REST) APIs; no blockchain, no P2P network{% endtrans %}</li>
						<li>{% trans %}Well-understood inexpensive cryptographic building blocks (RSA, DSA); no ZK-SNARKs{% endtrans %}</li>
						<li>{% trans %}Concrete contracts with clear legal foundation; no VM, no Solidity smart-contracts{% endtrans %}</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="midnew_img">
					<img src="{{ url_static('images/pica1.jpg') }}" alt="">
				</div>
			</div>
		</div>
		<div class="row midnewrowa">
			<div class="col-sm-6">
				<div class="midnew_text">
					<h2>{% trans %}Comprehensive Execution{% endtrans %}</h2>
                                 	<p>{% trans %}The Taler system is not just a wallet:{% endtrans %}</p>
					<ul>
						<li>{% trans %}Adapters for integration with the established banking system (LibEuFin){% endtrans %}</li>
						<li>{% trans %}End-user backup and key management (Anastasis){% endtrans %}</li>
						<li>{% trans %}Merchant integration and back-office support{% endtrans %}</li>
					</ul>
					<a href="https://demo.taler.net/{{ url_localized('') }}" target="_blank" rel="noopener noreferrer"><span>{% trans %}Try it yourself with the interactive demo!{% endtrans %}</span></a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="midnew_img">
					<img src="{{ url_static('images/pica2.jpg') }}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="advantagevalueBox">
	<div class="container">
		<div class="innadvvaluebox">
			<h2>{% trans %}Advantages of a Value-Based CBDC{% endtrans %}</h2>
			<p>{% trans %}As a value-based system Taler is the closest possible digital equivalent to cash. In addition to satisfying regulatory requirements, Taler allows central banks to be able to impose withdrawal limits to protect against bank runs or impose negative interest rates to disincentivize hoarding. The Taler CBDC architecture is two-tiered such that interactions would be facilitated by commercial banks. As a result, the central bank does not have to deal with citizen's accounts and associated Know-Your-Customer procedures and the associated support burden. Taler's privacy properties ensure that the central bank cannot come under political pressure to reveal information about citizens, while Taler's income transparency property ensures that the central bank receives key economic data to assist it with its economic analyses.{% endtrans %}</p>
		</div>
		<div class="valueBoxes">
			<div class="row">
				<div class="col-sm-6">
					<div class="valueBox">
						<img src="{{ url_static('images/valuepic1.jpg') }}" alt="">
						<div class="valuetxt">
							<h4>{% trans %}Hardware-Based CBDC{% endtrans %}</h4>
							<p>{% trans %}Offline-capable CBDCs based on hardware have serious drawbacks:{% endtrans %}</p>
                                        <ul>
						<li>{% trans %}Imposes cost to purchase specific hardware-solution on citizens{% endtrans %}</li>
						<li>{% trans %}Severe dependency on a small number of manufacturers with limited competition{% endtrans %}</li>
						<li>{% trans %}Hardware security frequently fails, especially against users with an incentive to attack devices under their physical control{% endtrans %}</li>
						<li>{% trans %}Competition with physical cash further exacerbates resilience against disasters involving power outages{% endtrans %}</li>
					</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="valueBox">
						<img src="{{ url_static('images/valuepic4.jpg') }}" alt="">
						<div class="valuetxt">
							<h4>&nbsp;&nbsp;{% trans %}Free Software-Based CBDC{% endtrans %}</h4>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;{% trans %}Free software is the best fit for a digital currency:{% endtrans %}</p>
                                          <ul>
					        <li>{% trans %}Virtually zero cost to citizens to obtain, update or customize{% endtrans %}</p>
						<li>{% trans %}All software companies globally can offer service and support on an equal footing{% endtrans %}</li>
						<li>{% trans %}Transparency makes problems easier to detect, and software is inexpensive to update{% endtrans %}</li>
						<li>{% trans %}No competition for physical cash for offline use{% endtrans %}</li>
					</ul>
						</div>
					</div>
				</div>
			</div>
			<span class="vs"><img src="{{ url_static('images/vs.png') }}" alt=""></span>
		</div>
	</div>
</section>

<section class="bluetalersecnew">
	<div class="container">
		<div class="row">
			<div class="col-sm-11">
				<div class="row">
					<div class="col-sm-5">
						<div class="scwhitboxnew">
							<div class="boxsnew">
								<a href="https://www.snb.ch/n/mmr/reference/working_paper_2021_03/source/working_paper_2021_03.n.pdf" target="_blank" rel="noopener noreferrer"><img src="{{ url_static('images/SNB.png') }}" alt=""/></a>
							</div>
							<!-- <div class="swlg"><img src="{{ url_static('images/sw.png') }}" alt=""/></div> -->
						</div>
					</div>
					<div class="col-sm-7">
						<div class="midnew_text blwhbox">
							<h3><span>{% trans %}Read the whitepaper by the SWISS NATIONAL BANK (SNB) on 'How to issue a Central Bank Digital Currency' based on Taler technology:{% endtrans %}</span><br><a href="https://www.snb.ch/n/mmr/reference/working_paper_2021_03/source/working_paper_2021_03.n.pdf" class="blubtn" target="_blank" rel="noopener noreferrer">{% trans %}SNB Whitepaper{% endtrans %}</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock body_content %}
