{% extends "common/base.j2" %}
{% block body_content %}
<title>{% trans %}Taler Systems SA - Electronic Cash{% endtrans %}</title>
<main id="maincontent">
<div class="banner_sec innerban">
	<div class="banner_box">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<div class="ban_left">
                        <h3>{% trans %}WELCOME TO <span>ELECTRONIC CASH{% endtrans %}</span></h3>
                            <h1>{% trans %}Privacy-Friendly <br>Instant Payment System<br> Enabling Microtransactions{% endtrans %}</h1>
                                <a href="https://demo.taler.net/{{ url_localized('') }}" target="_blank" rel="noopener noreferrer" class="demo_btn">{% trans %}See a demo{% endtrans %}</a>
						<ul>
							<li><img src="{{ url_static('images/banicon-tux.png') }}" alt="Linux"></li>
							<li><img src="{{ url_static('images/banicon-droid.png') }}" alt="Android"></li>
							<li><img src="{{ url_static('images/banicon-mac.png') }}" alt="MacOS"></li>
							<li><img src="{{ url_static('images/banicon-ios.png') }}" alt="iOS"></li>
							<li><img src="{{ url_static('images/banicon-win.png') }}" alt="Windows"></li>
							<li><img src="{{ url_static('images/banicon-ff.png') }}" alt="Firefox"></li>
							<li><img src="{{ url_static('images/banicon-chr.png') }}" alt="Chrome"></li>
							<li><img src="{{ url_static('images/banicon-br.png') }}" alt="Brave"></li>
							<li><img src="{{ url_static('images/banicon-edg.png') }}" alt="Edge"></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="ban_rt">
						<img src="{{ url_static('images/ecpic.png') }}" alt="" />
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

<section class="digital_sec assetsSec benefitsPanel">
	<div class="container">
		<div class="top_heading">
			<h2>{% trans %}Benefits of Taler{% endtrans %}</h2>
			<p>{% trans %}Taler is easy to integrate with existing Web applications. Payments are<br/>cryptographically secured and are confirmed within milliseconds<br/>with extremely low transaction costs.{% endtrans %}</p>
		</div>
		<div class="digital_innr">
			<div class="desk">
				<div class="row">
					<div class="col-lg-6 col-sm-6">
						<div class="digital_box">
							<img src="{{ url_static('images/newpic1.png') }}" alt="" />
							<b>{% trans %}For Merchants{% endtrans %}</b>
							<p>{% trans %}Taler offers efficient payments and backoffice procedures with security, privacy and data minimization by design. Payers and payees can rely on technology, and do not need to purely rely on trust anymore.{% endtrans %}</p>
							<!-- <a href="#" class="lrean_btn">{% trans %}Learn More{% endtrans %}</a> -->
						</div>				
					</div>
					<div class="col-lg-6 col-sm-6">
						<div class="digital_box">
							<img src="{{ url_static('images/newpic2.png') }}" alt="" />
							<b>{% trans %}For Users{% endtrans %}</b>
							<p>{% trans %}Taler provides the world with a payment solution that definitely makes sense in a society where privacy, data safety, technical security, and reliability become more and more crucial for everyone.{% endtrans %}</p>
							<!-- <a href="#" class="lrean_btn">{% trans %}Learn More{% endtrans %}</a> -->
						</div>				
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mid_sec mid_SecPanel">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="mid_text">
					<h2>{% trans %}Electronic <span>Wallet</span> For Fiat <br/>and Crypto-Currencies{% endtrans %}</h2>
					<p>{% trans %}This electronic instant payment system enables users to convey values and money via the internet, using electronic coins stored in wallets on users’ devices.{% endtrans %}</p>
					<ul>
						<li>{% trans %}The wallet can be preloaded with any digital currency and then used like cash{% endtrans %}</li>
						<li>{% trans %}Online payments can happen with a single click in real time{% endtrans %}</li>
						<li>{% trans %}Browser wallets, mobile wallets{% endtrans %}</li>
					</ul>
					<!-- <a href="#">{% trans %}<span>Try It With The Interactive Demo!</span>{% endtrans %}</a> -->
				</div>
			</div>
			<div class="col-sm-6">
				<div class="mid_img">
					<img src="{{ url_static('images/mobs1.png') }}" alt="" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="mid_text">
					<h2>{% trans %}<span>Micropayments</span> with Taler{% endtrans %}</h2>
					<p>{% trans %}Micropayments for internet transactions have been an unresolved challenge due to high transaction costs. Our solution enables new online business models based on microtransactions:</p>
					<ul>
						<li>Using efficient algorithms, minimization of data and one-click authorization, lean process flows,</li>
						<li>Establishing a new payment standard with built-in security, privacy and data minimization by design,</li>
						<li>Fostering competition between Exchange operators based on Taler’s free open-source protocol{% endtrans %}</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="mid_img">
					<img src="{{ url_static('images/mobs2.png') }}" alt="" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="mid_text">
					<h2>{% trans %}<span>Privacy</span> and <span>Transparency</span> are Top Priorities at Taler{% endtrans %}</h2>
					<p>{% trans %}Privacy by design and thoroughly programmed algorithms help diminish payment fraud.{% endtrans %}</p>
					<ul>
						<li>{% trans %}Transactions within the payment system use blind signatures which effectively prevent abuse by third parties, even attacks from inside an Exchange operator{% endtrans %}</li>
						<li>{% trans %}Taler lets users trace back all payments and contracts if they want a proof of purchase with provable electronic receipts of transactions which can even be used as evidence in court{% endtrans %}</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="mid_img">
					<img src="{{ url_static('images/mobs3.png') }}" alt="" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="mid_text">
					<h2>{% trans %}Payments via <span>Email</span> or <span>Messenger</span> or IoT{% endtrans %}</h2>
					<p>{% trans %}Partnerships have been signed for email / messaging integration.{% endtrans %}</p>
					<ul>
						<li>{% trans %}Taler coins can be sent attached to an email{% endtrans %}</li>
						<li>{% trans %}Wallets can be included into email and messenger clients{% endtrans %}</li><br><br><br><br><br><br>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="mid_img">
					<img src="{{ url_static('images/lap1.png') }}" alt="" />
				</div>
			</div>
		</div>
	</div>
</section>


<section class="maketlr_sec bgpanel">
	<div class="container">
		<div class="top_heading">
			<h2>{% trans %}What Makes <span> Taler</span> Unique For <br/>Merchants And Users{% endtrans %}</h2>
			<div class="row custmrUnique">
				<div class="col-md-4 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/icons1.png') }}" alt=""/></i>
						<h4>{% trans %}Instant one-click payments{% endtrans %}</h4>
						<p><strong>{% trans %}One-click transactions at Web-speed and instant credit of incoming funds{% endtrans %}</strong></p>
						<p>{% trans %}While the payment system remains effective, economic and stable, it always offers fast transaction throughput.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/icons2.png') }}" alt=""/></i>
						<h4>{% trans %}Reliable{% endtrans %}</h4>
						<p><strong>{% trans %}No legitimate customer will get rejected by fraud detection{% endtrans %}</strong></p>
						<p>{% trans %}One-click authorization instead of authentication for improved usability and elimination of fraud.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/icons3.png') }}" alt=""/></i>
						<h4>{% trans %}Frictionless security{% endtrans %}</h4>
						<p><strong>{% trans %}Payments do not require users to sign up or login{% endtrans %}</strong></p>
						<p>{% trans %}Users are not required to register at a merchant’s web shop or at Point of Sale. Taler does not suffer from many kinds of security problems such as phishing or counterfeit cards.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/icons4.png') }}" alt=""/></i>
						<h4>{% trans %}Flexible{% endtrans %}</h4>
						<p><strong>{% trans %}Any currency, any amount{% endtrans %}</strong></p>
						<p>{% trans %}The wallet can be preloaded with any digital currency (fiat money, crypto coins, rewards etc.) and then used like cash.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/icons5.png') }}" alt=""/></i>
						<h4>{% trans %}Compliant{% endtrans %}</h4>
						<p><strong>{% trans %}Taler complies with Regulation EU 2016/679 (GDPR){% endtrans %}</strong></p>
						<p>{% trans %}Taler fulfills AML and KYC requirements and preserves privacy by design according to GDPR.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/icons6.png') }}" alt=""/></i>
						<h4>{% trans %}Scalable{% endtrans %}</h4>
						<p><strong>{% trans %}To transaction levels of Mastercard and above{% endtrans %}</strong></p>
						<p>{% trans %}From large to microtransactions. Multi-currency or multi-asset. Multi-device. Transact by email or messenger.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/icons7.png') }}" alt=""/></i>
						<h4>{% trans %}Privacy-preserving{% endtrans %}</h4>
						<p><strong>{% trans %}Neither payment providers nor banks learn personal data{% endtrans %}</strong></p>
						<p>{% trans %}Taler uses unlinkable coins created with digital blind signatures for privacy. This fosters informational self-determination for payers and payment system providers in e-commerce and m-commerce.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/icons8.png') }}" alt=""/></i>
						<h4>{% trans %}Economic{% endtrans %}</h4>
						<p><strong>{% trans %}Taler is very efficient and its costs are very low despite high security and privacy{% endtrans %}</strong></p>
						<p>{% trans %}Aggregated transactions for lower operating costs are available, too.{% endtrans %}</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="uniquebox">
						<i><img src="{{ url_static('images/icons9.png') }}" alt=""/></i>
						<h4>{% trans %}No fraud{% endtrans %}</h4>
						<p><strong>{% trans %}Taler eliminates fraud and offers privacy, security, and independence at the same time{% endtrans %}</strong></p>
						<p>{% trans %}Compare to credit card payments: With credit cards, security seems only an afterthought.{% endtrans %}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="maketlr_sec architectureSec">
	<div class="container">
		<div class="top_heading">
			<h2>{% trans %}Architecture of <span> Taler</span>{% endtrans %}</h2>
		</div>
		<div class="archiBoxes">
			<div class="row">
				<div class="col-sm-12">
					<div class="innarchiBox">
						<img src="{{ url_static('images/pic3.jpg') }}" alt="" />
						<a href="https://demo.taler.net/{{ url_localized('') }}" target="_blank" rel="noopener noreferrer" class="blubtn">{% trans %}Get Started Now{% endtrans %}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bluetalersec top_heading">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="mid_text">
				<h3>{% trans %}A Payment System that Makes Privacy and Microtransactions Easy.{% endtrans %}</h3>
				<a href="https://taler.net/{{ url_localized('index.html') }}" target="_blank" rel="noopener noreferrer" class="blubtn">{% trans %}More Insights{% endtrans %}</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock body_content %}
