{% extends "common/base.j2" %}
{% block body_content %}
<title>{% trans %}Taler Systems SA - Insights{% endtrans %}</title>
<main id="maincontent">
<section class="insignblogsec">
	<div class="container">
		<div class="top_heading">
			<h1>{% trans %}Our Blog Posts{% endtrans %}</h1>
			<p>{% trans %}On this page you will find selected news, FAQs and a publication list. <br>For further information please visit the <a href="https://taler.net/en/news/index.html" target="_blank" rel="noopener noreferrer">Community News Posts</a> or subscribe to our <a href="https://taler.net/en/rss.xml" target="_blank" rel="noopener noreferrer">RSS Feed</a>{% endtrans %}</p>
		</div>
		<!--<div class="insignblogtb">
			<ul class="insitab">
				<li class="current"><a href="https://taler.net/{{ url_localized('news/index.html') }}" target="_blank" rel="noopener noreferrer"><i class="fa1"></i>{% trans %}News Posts{% endtrans %}</a></li>
				<li><a href="https://taler.net/en/rss.xml" target="_blank" rel="noopener noreferrer"><i class="fa2"></i>{% trans %}RSS Feed{% endtrans %}</a></li>
			</ul>-->
			<div class="insignblogtbCont" id="newsa" style="display: block;">
				<div class="row custmrUnique">
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="uniquebox">
							<i><img src="{{ url_static('images/insignicon2.png') }}" alt=""></i>
							<h4>{% trans %}Document{% endtrans %}</h4>
							<em>{% trans %}June{% endtrans %} 21, 2022</em>
							<h6><a href="https://taler.net/{{ url_localized('news/2022-07.html') }}" target="_blank" rel="noopener noreferrer">A digital euro and the future of cash (Oesterreichische Nationalbank AG)</a></h6>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="uniquebox">
							<i><img src="{{ url_static('images/insignicon3.png') }}" alt=""></i>
							<h4>{% trans %}Video{% endtrans %}</h4>
							<em>{% trans %}February{% endtrans %} 21, 2022</em>
							<h6><a href="https://taler.net/{{ url_localized('news/2022-02.html') }}" target="_blank" rel="noopener noreferrer">Adding Schnorr's Blind Signatures to Taler</a></h6>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="uniquebox">
							<i><img src="{{ url_static('images/insignicon2.png') }}" alt=""></i>
							<h4>{% trans %}Document{% endtrans %}</h4>
							<em>{% trans %}February{% endtrans %} 23, 2021</em>
							<h6><a href="https://taler.net/{{ url_localized('news/2021-01.html') }}" target="_blank" rel="noopener noreferrer">How to issue a Central Bank Digital Currency</a></h6>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="uniquebox">
							<i><img src="{{ url_static('images/insignicon1.png') }}" alt=""></i>
							<h4>{% trans %}Technology{% endtrans %}</h4>
							<em>{% trans %}June{% endtrans %} 15, 2022</em>
							<h6><a href="https://taler.net/{{ url_localized('news/2022-06.html') }}" target="_blank" rel="noopener noreferrer">GNU Taler Scalability - Bachelor Thesis (2022)</a></h6>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="uniquebox">
							<i><img src="{{ url_static('images/insignicon2.png') }}" alt=""></i>
							<h4>{% trans %}Document{% endtrans %}</h4>
							<em>{% trans %}June{% endtrans %} 01, 2021</em>
							<h6><a href="https://taler.net/papers/suerf2021en.pdf" target="_blank" rel="noopener noreferrer">SUERF Policy Brief #114: How to issue a privacy-preserving central bank digital currency</a></h6>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="uniquebox">
							<i><img src="{{ url_static('images/insignicon5.png') }}" alt=""></i>
							<h4>{% trans %}Past Event{% endtrans %}</h4>
							<em>{% trans %}October{% endtrans %} 01, 2020</em>
							<h6><a href="https://taler.net/{{ url_localized('news/2020-10.html') }}" target="_blank" rel="noopener noreferrer">Taler presentation by Javier Sepúlveda in Valencia</a></h6>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="uniquebox">
							<i><img src="{{ url_static('images/insignicon1.png') }}" alt=""></i>
							<h4>{% trans %}Technology{% endtrans %}</h4>
							<em>{% trans %}October{% endtrans %} 25, 2020</em>
							<h6><a href="https://tools.ietf.org/html/rfc8905" target="_blank" rel="noopener noreferrer">RFC 8905 - The 'payto' URI scheme for payments</a></h6>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="uniquebox">
							<i><img src="{{ url_static('images/insignicon6.png') }}" alt=""></i>
							<h4>{% trans %}Miscellaneous{% endtrans %}</h4>
							<em>{% trans %}September{% endtrans %} 16, 2020</em>
							<h6><a href="https://www.bfh.ch/ti/de/aktuell/medienmitteilungen/2020/die-technik-von-taler-ueberzeugt/" target="_blank" rel="noopener noreferrer">Taler launched at Bern University of Applied Sciences</a></h6>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="uniquebox">
							<i><img src="{{ url_static('images/insignicon3.png') }}" alt=""></i>
							<h4>{% trans %}Video{% endtrans %}</h4>
							<em>{% trans %}August{% endtrans %} 01, 2017</em>
							<h6><a href="https://taler.net/{{ url_localized('news/2017-08.html') }}" target="_blank" rel="noopener noreferrer">Taler explained at SHA 2017</a></h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="faqSec">
	<div class="container">
		<div class="top_heading">
			<h2>{% trans %}Frequently Asked Questions{% endtrans %}</h2>
			<p>{% trans %}These are only some FAQs from a larger list you can retrieve by clicking the button "More FAQs".{% endtrans %}</p>
		</div>
		<div class="innfaqSec">
			<div id="accordion">
				<div class="row">
					<div class="col-sm-6">
						<div class="card">
						      <div class="card-header">
						        <a class="card-link" data-toggle="collapse" href="#collapse1">{% trans %}How is Taler related to Bitcoin or Blockchains?{% endtrans %}</a>
						      </div>
						      <div id="collapse1" class="collapse show" data-parent="#accordion">
						        <div class="card-body">
						          <p>{% trans %}Taler does not require any Blockchain technology, and is also not based on proof-of-work or any other distributed consensus mechanism. Instead, Taler is based on blind signatures. However, it is theoretically possible to combine Taler with peer-to-peer crypto-currencies like Bitcoin.{% endtrans %}</p>
						          <p>{% trans %}It would be possible, however, to withdraw coins denominated in Bitcoin into a Taler wallet (with an appropriate exchange), which would give some benefits over plain Bitcoin, such as instant confirmation times.{% endtrans %}</p>
						        </div>
						      </div>
						    </div>
						    <div class="card">
						    <div class="card-header">
						        <a class="collapsed card-link" data-toggle="collapse" href="#collapse2">{% trans %}Where is the balance in my wallet stored?{% endtrans %}</a>
							</div>
						   	<div id="collapse2" class="collapse" data-parent="#accordion">
						        <div class="card-body">
						         <p>{% trans %}Your wallet stores digital coins and thus ultimately your computer holds your balance. The exchange keeps funds matching all unspent coins in an escrow bank account.{% endtrans %}</p>
						        </div>
						      </div>
						    </div>
						    <div class="card">
						      	<div class="card-header">
						        	<a class="collapsed card-link" data-toggle="collapse" href="#collapse3">{% trans %}What if my wallet is lost?{% endtrans %}</a>
								</div>
						      <div id="collapse3" class="collapse" data-parent="#accordion">
						        <div class="card-body">
						         <p>{% trans %}Since the digital coins of value in your wallet are anonymized, the exchange can not assist you in recovering a lost or stolen wallet. Just like with a physical wallet for cash, you are responsible for keeping it safe.{% endtrans %}</p>
						        </div>
						      </div>
						  	</div>
						  	<div class="card">
						      	<div class="card-header">
						        	<a class="collapsed card-link" data-toggle="collapse" href="#collapse4">{% trans %}Can I send money to my friends with Taler?{% endtrans %}</a>
								</div>
						      <div id="collapse4" class="collapse" data-parent="#accordion">
						        <div class="card-body">
						         <p>{% trans %}If your friends provide goods or services for you in exchange for a payment, they can easily set up a Taler merchant and receive the payment in their bank account.{% endtrans %}</p>
						         <p>{% trans %}Future versions of the Taler wallet may allow exchanging coins among friends directly as well.{% endtrans %}</p>
						        </div>
						      </div>
						  	</div>
                            </div>
                        <div class="col-sm-6">
						<div class="card">
					      <div class="card-header">
					        <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">{% trans %}How does Taler handle payments in different currencies?{% endtrans %}</a>
					      </div>
					      <div id="collapse5" class="collapse" data-parent="#accordion">
					        <div class="card-body">
						         <p>{% trans %}Taler wallets can store digital coins corresponding to multiple different currencies such as the Euro, US Dollars or Bitcoins.{% endtrans %}</p>
						         <p>{% trans %}Taler currently does not offer conversion between currencies. {% endtrans %}</p>
					        </div>
					      </div>
					    </div>
					    <div class="card">
					      <div class="card-header">
					        <a class="collapsed card-link" data-toggle="collapse" href="#collapse6">{% trans %}How does Taler protect my privacy?{% endtrans %}</a>
					      </div>
					      <div id="collapse6" class="collapse" data-parent="#accordion">
					        <div class="card-body">
						         <p>{% trans %}Your wallet stores digital coins that are <a href="https://en.wikipedia.org/wiki/Blind_signature">blindly signed</a> by an exchange. The use of a blind signature protects your privacy as it prevents the exchange from knowing which coin it signed for which customer.{% endtrans %}</p>
					        </div>
					      </div>
					    </div>
					    <div class="card">
					      <div class="card-header">
					        <a class="collapsed card-link" data-toggle="collapse" href="#collapse7">{% trans %}How much does it cost?{% endtrans %}</a>
					      </div>
					      <div id="collapse7" class="collapse" data-parent="#accordion">
					        <div class="card-body">
						         <p>{% trans %}The Taler protocol allows any exchange to set its own fee structure, allowing operators to set fees for withdrawing, depositing, refreshing or refunding coins. Operators can also charge fees for closing reserves and for (aggregated) wire transfers to merchants. Merchants may choose to cover some of the fees customers incur. Actual transaction costs are estimated around 0.001 cent/transaction (at high transaction rates, amortized over billions of transactions, excluding migration costs). Note that this is an early estimate, details may depend on hosting and backup requirements from the regulator and could thus easily be 10x higher.{% endtrans %}</p>
					        </div>
					      </div>
					    </div>
					    <div class="card">
					      <div class="card-header">
					        <a class="collapsed card-link" data-toggle="collapse" href="#collapse8">{% trans %}Does Taler work with international payments?{% endtrans %}</a>
					      </div>
					      <div id="collapse8" class="collapse" data-parent="#accordion">
					        <div class="card-body">
						         <p>{% trans %}Taler&#39;s wallet supports multiple currencies, but the system currently does not support conversion between currencies. However, in principle an entity that accepts deposits in one currency and allows withdrawals in another currency could be created. Still, the regulatory hurdles in this case tend to be particularly complex. The focus for Taler is on day-to-day payments, so we have no plans to support currency conversion in the near future.{% endtrans %}</p>
					        </div>
					      </div>
					    </div>
					    <div class="card">
					      <div class="card-header">
					        <a class="collapsed card-link" data-toggle="collapse" href="#collapse9">{% trans %}How does Taler relate to the (European) Electronic Money Directive?{% endtrans %}</a>
					      </div>
					      <div id="collapse9" class="collapse" data-parent="#accordion">
					        <div class="card-body">
						         <p>{% trans %}We believe the European Electronic Money Directive provides part of the regulatory framework a Taler exchange with coins denominated in Euros would have to follow.{% endtrans %}</p>
					        </div>
					      </div>
					    </div>
					</div>
				</div>
		 	 </div>
		</div>
		<a href="https://taler.net/{{ url_localized('faq.html') }}" class="blubtn" target="_blank" rel="noopener noreferrer">{% trans %}More FAQs{% endtrans %}</a>
	</div>
</section>

<section class="latestnewsec">
	<div class="container">
		<div class="top_heading">
			<h2>{% trans %}Past Events{% endtrans %}</h2>
			<p>{% trans %}These are some remarkable events concerning Taler.{% endtrans %}</p>
		</div>
		<div class="latestncont">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="latsBox bigpoic">
						<a href="https://taler.net/{{ url_localized('news/2017-04.html') }}" target="_blank" rel="noopener noreferrer"><img src="{{ url_static('images/latestpic1.jpg') }}" alt=""></a>
						<div class="text">
							<em>{% trans %}April{% endtrans %} 01, 2017</em>
							<h4><a href="https://taler.net/{{ url_localized('news/2017-04.html') }}" target="_blank" rel="noopener noreferrer">{% trans %}Sva explains GNU Taler at EasterHegg and Torsten demonstrates it is child's play{% endtrans %}</a></h4>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="latsBox media">
						<a href="https://www.bfh.ch/ti/de/aktuell/medienmitteilungen/2020/die-technik-von-taler-ueberzeugt/" target="_blank" rel="noopener noreferrer"><img src="{{ url_static('images/latestpic2.jpg') }}" alt=""></a>
						<div class="text media-body">
							<em>{% trans %}September{% endtrans %} 16, 2020</em>
							<h4><a href="https://www.bfh.ch/ti/de/aktuell/medienmitteilungen/2020/die-technik-von-taler-ueberzeugt/" target="_blank" rel="noopener noreferrer">{% trans %}GNU Taler launched at Bern University of Applied Sciences{% endtrans %}</a></h4>
							<p>{% trans %}The GNU Taler payment system was launched at the Bern University of Applied Sciences in the presence of a representative of the Swiss National Bank.{% endtrans %}</p>
						</div>
					</div>
					<div class="latsBox media">
						<a href="https://taler.net/{{ url_localized('news/2020-07.html') }}" target="_blank" rel="noopener noreferrer"><img src="{{ url_static('images/latestpic3.jpg') }}" alt=""></a>
						<div class="text media-body">
							<em>{% trans %}July{% endtrans %} 7, 2020</em>
							<h4><a href="https://taler.net/{{ url_localized('news/2020-07.html') }}" target="_blank" rel="noopener noreferrer">{% trans %}Exchange independent security audit report published{% endtrans %}</a></h4>
							<p>{% trans %}Code Blau, Berlin-based independent security auditor, examined the Exchange code of Taler.{% endtrans %}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="publicationsec">
	<div class="container">
		<div class="top_heading">
			<h2>{% trans %}Publications{% endtrans %}</h2>
			<p>{% trans %}This is an overview of selected publications about Taler.{% endtrans %}</p>
		</div>
		<div class="avablposipnl">
			<div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-9">
						<h4>Zero-Knowledge Age Restriction for GNU Taler</h4>
						<p>By Özgür Kesim, Christian Grothoff, Florian Dold, Martin Schanzenbach<br><span>{% trans %}Article{% endtrans %} (2022)</span></p>
					</div>
					<div class="col-md-3">
						<a href="https://taler.net/papers/esorics2022-age-restriction.pdf" class="vwdtls" target="_blank" rel="noopener noreferrer"><span>{% trans %}Download PDF{% endtrans %}</span></a>
					</div>
				</div>
			</div>
			<div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-9">
						<h4>A digital euro and the future of cash</h4>
						<p>By Martin Summer and Hannes Hermanky (Oesterreichische Nationalbank AG / National Bank of Austria)<br><span>{% trans %}Article{% endtrans %} (2022)</span></p>
					</div>
					<div class="col-md-3">
						<a href="https://www.oenb.at/dam/jcr:0e3c00d6-2e0a-4089-b23c-5604e60ebde5/07_Mop_Q1-2_22_A-digital-euro-and-the-future-of-cash.pdf" class="vwdtls" target="_blank" rel="noopener noreferrer"><span>{% trans %}Download PDF{% endtrans %}</span></a>
					</div>
				</div>
			</div>
			<div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-9">
						<h4>Come una banca centrale dovrebbe emettere una moneta digitale</h4>
						<p>By David Chaum, Christian Grothoff, Thomas Moser, translated by Dora Scilipoti, with support by Luca Saiu<br><span>{% trans %}Article{% endtrans %} (2022)</span></p>
					</div>
					<div class="col-md-3">
						<a href="https://taler.net/papers/cbdc2021it.pdf" class="vwdtls" target="_blank" rel="noopener noreferrer"><span>{% trans %}Download PDF{% endtrans %}</span></a>
					</div>
				</div>
			</div>
			<div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-9">
						<h4>How to issue a Central Bank Digital Currency</h4>
						<p>By David Chaum, Christian Grothoff, Thomas Moser<br><span>{% trans %}Article{% endtrans %} (2021)</span></p>
					</div>
					<div class="col-md-3">
						<a href="https://taler.net/papers/cbdc2021en.pdf" class="vwdtls" target="_blank" rel="noopener noreferrer"><span>{% trans %}Download PDF{% endtrans %}</span></a>
					</div>
				</div>
			</div>
			<div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-9">
						<h4>Comment émettre une monnaie numérique de banque centrale</h4>
						<p>By David Chaum, Christian Grothoff, Thomas Moser, translated by Marie Walrafen and Emmanuel Benoist<br><span>{% trans %}Article{% endtrans %} (2021)</span></p>
					</div>
					<div class="col-md-3">
						<a href="https://taler.net/papers/cbdc2021fr.pdf" class="vwdtls" target="_blank" rel="noopener noreferrer"><span>{% trans %}Download PDF{% endtrans %}</span></a>
					</div>
				</div>
			</div>
			<div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-9">
						<h4>Why a Digital Euro should be Online-first and Bearer-based</h4>
						<p>By Christian Grothoff and Florian Dold<br><span>{% trans %}Article{% endtrans %} (2021)</span></p>
					</div>
					<div class="col-md-3">
						<a href="https://taler.net/papers/euro-bearer-online-2021.pdf" class="vwdtls" target="_blank" rel="noopener noreferrer"><span>{% trans %}Download PDF{% endtrans %}</span></a>
					</div>
				</div>
			</div>
			<div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-9">
						<h4>Peer-to-Peer Transactions for Privacy-Preserving Mobile Payments using GNU Taler</h4>
						<p>By J. Florian Kimmest <br><span>{% trans %}Bachelor Thesis{% endtrans %} (2020)</span></p>
					</div>
					<div class="col-md-3">
						<a href="https://taler.net/papers/jfk2020thesis.pdf" class="vwdtls" target="_blank" rel="noopener noreferrer"><span>{% trans %}Download PDF{% endtrans %}</span></a>
					</div>
				</div>
			</div>
			<div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-9">
						<h4>Embedded system for GNU/Taler: Designing an embedded system for cashless payment on a vending machine</h4>
						<p>By Dominik Wenger <br><span>{% trans %}Bachelor Thesis{% endtrans %} (2020)</span></p>
					</div>
					<div class="col-md-3">
						<a href="https://taler.net/papers/thesis-wenger-2020.pdf" class="vwdtls" target="_blank" rel="noopener noreferrer"><span>{% trans %}Download PDF{% endtrans %}</span></a>
					</div>
				</div>
			</div>
			<div class="avalcrrerRow">
				<div class="row">
					<div class="col-md-9">
						<h4>The GNU Taler System: Practical and Provably Secure Electronic Payments</h4>
						<p>By Florian Dold <br><span>{% trans %}PhD Thesis{% endtrans %} (2019)</span></p>
					</div>
					<div class="col-md-3">
						<a href="https://taler.net/papers/thesis-dold-phd-2019.pdf" class="vwdtls" target="_blank" rel="noopener noreferrer"><span>{% trans %}Download PDF{% endtrans %}</span></a>
					</div>
				</div>
			</div>
		</div>
		<a href="https://taler.net/{{ url_localized('bibliography.html') }}" class="blubtn" target="_blank" rel="noopener noreferrer">{% trans %}More Insights{% endtrans %}</a>
	</div>
</section>

{% endblock body_content %}
